[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mypy = "*"
django = "*"
djangorestframework = "*"
requests = "*"
black = "19.10b0"
pytest-django = "*"
pytest = "*"

[requires]
python_version = "3.8"
